@import "bootstrap";

.margin20 {
  margin-top: 20px;  
}
.marginl20 {
  margin-left: 20px;
}
.pad20 {
  padding-top: 20px;  
}
.padl40 {
  padding-left: 40px;  
}
.pad10 {
  padding: 10px;
}
.footer {
  display:block;
  color:black;
  background-color: rgba(#F04646,0.2);
}

hr {
  border-top: 1px solid pink;
}

body {
  background-image:url(http://i32.photobucket.com/albums/d36/stupidalex/ec-sh/fruits_zps756f9bfe.jpg~original);
  background-color: #FBEA66;
  background-repeat: no-repeat;
  background-size: relative relative;
}

ul {
  list-style-type: none;
}

footer {
  h4 {@extend .text-center;}
  li {@extend .text-center;}
}

.navbar {
  background-color: rgba(#F04646,0.2);
}

.footer-text {
  color:black;
  padding: 20px;
}

.imgclass {
    padding: 15px;
    border: 1px solid black;
    margin: 0 0 15px 0;
}

.imgclass2 {
    border: 0px solid;
    margin: 15px 15px 15px 15px;
}

.well {
  background-color: rgba(#F04646,0.7);
}

.jumbotron {
  background-color: rgba(#FF0000,0.5);
}